@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.shimmer:hover {
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350%
    100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}
